body {
    background-color: #c8cb1e;
    color: #000000;
}

li {
    display: block;
}
.read {
    text-decoration: line-through;
    opacity: 0.4;
}

.shelf {    
    opacity: 1.0;
}

.yearEven {    
    color: #000000;
}

.yearOdd {
    color: #000000;
}